<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sessions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Sessions</h1>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sess : ${allSessions}">
            <td th:text="${sess.nom}">Session Name</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
